body {
    background: #049efe;
    color: rgb(255, 210, 86);
}

.title {
    font-size: 100px;
    font-family: "Helvetica";
    text-align: center;
}

.poem {
    font-size:28px;
    font-family: "Helvetica";
    text-align: center;
    line-height: 20px;
    padding-bottom: 50px;
}

.image {
    display: block;
    margin: auto;
    padding-bottom: 150px;
}

::selection {
    background-color: #f7e1d7;
    color: #ef233c;
}